@cores-product-hub:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=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
//registry.npmjs.org/:_authToken=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
